<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.prm.dao.activiti.WorkFlowIdentifyMapper">

    <delete id="deleteAllMemerShip">
      delete from ACT_ID_MEMBERSHIP
    </delete>

    <delete id="deleteAllRole">
        delete from ACT_ID_GROUP
    </delete>

    <delete id="deleteAllUser">
        delete from ACT_ID_USER
    </delete>

</mapper>