<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.yyadmin.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yonyou.yyadmin.system.entity.Menu">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_creator" property="gmtCreator"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gmt_modifier" property="gmtModifier"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="menu_pid" property="menuPid"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_code" property="menuCode"/>
        <result column="menu_url" property="menuUrl"/>
        <result column="menu_permission" property="menuPermission"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="menu_seq" property="menuSeq"/>
        <result column="menu_type" property="menuType"/>
        <result column="menu_pname" property="menuPname"/>
    </resultMap>

    <select id="getMenuListByUserCode" resultMap="BaseResultMap">
		SELECT m.*  FROM user_role ur
		INNER JOIN role_menu rm ON ur.role_id = rm.role_id
		INNER JOIN menu m ON rm.menu_id = m.id
		where ur.user_id = #{userId}
	</select>

</mapper>
