package ${package.Service};

import ${package.Entity}.${entity};
import com.yonyou.yyadmin.base.AbstractService;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends AbstractService<${entity}> {
	
}
